<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Everything attached - A life insurance policy is a contract with an insurance company. In exchange for premium payments, the insurance company provides a lump-sum payment, known as a death benefit, to beneficiaries upon the insured's death. Typically, life insurance is chosen based on the needs and goals of the owner.</p>
                <a href="#" class="btn btn-default btn-xl">Act Now!</a>
            </div>
        </div>
    </div>
</section>
