<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We provide cleaning services at homes, offices etc in Cheras, Bangi, Kajang and its surroundings. Quality service and meet customers needs.</p>
                <p class="text-faded">*We provide maid only | Equipment upon request.</p>
                <a href="#" class="btn btn-default btn-xl">Act Now!</a>
            </div>
        </div>
    </div>
</section>
