<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <p class="text-muted">The total amount of time taken for cleaning depends on the size of your property and your specific needs. A typical session 4 hours (8am-12pm) / (1pm-5pm). Typically, you will be hiring a temporary cleaner or part time maid to clean your property.</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Bedroom, Living and Common Areas</h3>
                    <p class="text-muted">Dusting and wiping all accessible surfaces - Wiping windows, mirrors and other glass surfaces</p>
                    <p class="text-muted">Sweeping and mopping all floors - Clearing out garbage and waste carpet cleaning</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tint wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Bathrooms</h3>
                    <p class="text-muted">Washing and sanitising toilets, shower, sink, tub and other fixtures.</p>
                    <p class="text-muted">Wiping windows, mirrors and other glass or metallic surfaces.</p>
                    <p class="text-muted">Washing and scrubbing all floors.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Kitchen</h3>
                    <p class="text-muted">Dusting and wiping all accessible surfaces.</p>
                    <p class="text-muted">Wiping windows, mirrors and other glass or metallic surfaces.</p>
                    <p class="text-muted">Sweeping and mopping all floors.</p>
                    <p class="text-muted">Clearing out garbage and waste.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Other Cleaning Services</h3>
                    <p class="text-muted">These are some of the additional services that you can request and get, depending on ther service providers availability.</p>
                    <p class="text-muted">Washing, folding and ironing laundry.</p>
                    <p class="text-muted">Cleaning inside cabinets and other fixtures.</p>
                </div>
            </div>
        </div>
    </div>
</section>
